body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  background-color: #1f2937;
}

.header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 16px;
}

.header a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
}

.header .main {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.header .sub {
  color: #e5e7eb;
  font-size: 18px;
}

.header button {
  background-color: #3882f6;
  color: #f9faf8;
}

.info .title {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;
}

.quote {
  background-color: #e5e7eb;
}

.quote blockquote {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

.action {
  background-color: #3882f6;
  color: #f9faf8;
}

.action button {
  background-color: #3882f6;
  color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
}